# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code related
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Web related
.last_build_id
lib/generated_plugin_registrant.dart

# Firebase related
.firebase/
firebase-debug.log
firestore-debug.log
pubsub-debug.log
ui-debug.log

# Windows related
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
*.exe
*.dll
*.pdb
*.exp
*.lib

# Android related
**/android/local.properties
**/android/key.properties
**/android/app/src/main/res/values/google-services.xml
**/android/.gradle
**/android/captures/
**/android/gradlew
**/android/gradlew.bat
**/android/GeneratedPluginRegistrant.java

# iOS/macOS related
**/ios/Flutter/Ephemeral/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/Flutter.podspec
**/ios/Runner/GeneratedPluginRegistrant.*
**/ios/ServiceDefinitions.json
**/macos/Flutter/ephemeral/
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/flutter_export_environment.sh
**/macos/Runner/GeneratedPluginRegistrant.*
